@model List<SabongPinoy.Models.DCurrentBets>

@{
    ViewBag.Title = "My Open Bets";
    <script type="text/javascript">
        $(document).ready(
        function () {
                $('.lnkViewPReprint').click(function () {
                var refNum = $(this).attr('href');
                if (refNum != '') {
                    var x = screen.width / 2 - 700 / 2;
                    var y = screen.height / 2 - 450 / 2;
                    window.open(refNum, 'Reprint', 'height=485,width=700,left=' + x + ',top=' + y);
                }
                return false;
                });
            }
        );
    </script>
}

<div id="home">
    <div class="container">
        <div id="services">
            <div class="row">
                <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-left">
                            <span><i class="ion ion-cash fa-fw"></i>Reprint Bets</span>
                            <div class="pull-right">
                                <div class="btn-group open">
                                    <a href="@Request.Url.AbsoluteUri" class="btn  btn-xs btn-danger " title="refresh">Refresh</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="form-wrapper table-responsive">
                                <table class="table table-striped table-responsive table-hover text-dark-space text-left small">
                                    <thead class="text-center">
                                        <tr>
                                            <th>BetId</th>
                                            <th>Arena</th>
                                            <th>Date</th>
                                            <th>Fight No</th>
                                            <th>Bet</th>
                                            <th>Amount</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>
                                                @item.UserBetId
                                            </td>
                                            <td>
                                                @item.ArenaName
                                            </td>
                                            <td>
                                                @item.DateOfFight.ToString("MM/dd/yyyy")
                                            </td>
                                            <td>
                                                @item.GameNumber
                                            </td>
                                            <td>
                                                @item.BetOn
                                            </td>
                                            <td>
                                                @item.MatchedAmount.ToString("###,##0.00")
                                            </td>
                                            <td class=" text-center ">
                                                @if (@ViewBag.IsTellerAccount || @ViewBag.IsAdmin)
                                                {
                                                    <a href="~/Arena/GetBarCode?id=@item.UserBetId" class="btn btn-sm btn-warning lnkViewPReprint">Click for Reprint</a>
                                                }
                                            </td>

                                           
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <ul class="pagination pagination-sm">
                            @for (int p = 1; p <= ViewBag.TotalPage; p++)
                            {
                                <li class="@(p == ViewBag.CurrentPage ? "active" : " ")">
                                    <a href="@Url.Action("CurrentBets", "MySabong", new { page = @p })"> @p </a>
                                </li>
                            }
                        </ul>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

